:root {
  --main-color: #FF9800;
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
  --main-color: #E48F45;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #E48F45;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
      width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
      width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}

.main-title {

  margin: 0 auto 80px;
 
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
 
  z-index: 1;
 
}

/* Start Settings Box */
.settings-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: #FFF;
  width: 200px;
  z-index: 1000;
  min-height: 100vh;
  transition: .3s;
  border: 1px solid #EEE;
}
.settings-box.open {
  left: 0;
}
.settings-box .toggle-settings {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: #FFF;
  text-align: center;
  cursor: pointer;
}
.settings-box .toggle-settings .fa-gear {
  width: 30px;
  padding: 8px 0;
}
.settings-box .option-box {
  padding: 10px;
  text-align: center;
  background-color: #EEE;
  margin: 10px;
}
.settings-box .option-box h4 {
  margin: 0;
  color: #666;
  font-size: 14px;
}
.settings-box .option-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px 0 0;
}
.settings-box .option-box .colors-list li {
  width: 24px;
  height: 24px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  border: 3px solid #EEE;
}
.settings-box .option-box .colors-list li.active {
  border-color: #FFF;
}
.settings-box .option-box .colors-list li:first-child {
  background-color: #FF9800;
}
.settings-box .option-box .colors-list li:nth-child(2) {
  background-color: #E91E63;
}
.settings-box .option-box .colors-list li:nth-child(3) {
  background-color: #009688;
}
.settings-box .option-box .colors-list li:nth-child(4) {
  background-color: #FFD700;
}
.settings-box .option-box .colors-list li:nth-child(5) {
  background-color: #4CAF50;
}
.settings-box .option-box .yes,
.settings-box .option-box .no {
  width: 50px;
  background-color: var(--main-color);
  color: #FFF;
  margin-top: 10px;
  display: inline-block;
  font-size: 12px;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
  opacity: .5;
  cursor: pointer;
}
.settings-box .option-box span.active {
  opacity: 1;
}
.settings-box .reset-options {
  background-color: #F44336;
  border: none;
  width: 178px;
  margin: 10px auto;
  display: block;
  color: #FFF;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
/* End Settings Box */
/* Start Nav Bullets */
.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 1000;
}
.nav-bullets .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  margin: 20px auto;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.nav-bullets .bullet:hover .tooltip {
  display: block;
}
.nav-bullets .bullet .tooltip {
  background-color: var(--main-color);
  width: 120px;
  color: #FFF;
  padding: 8px 10px;
  position: absolute;
  right: 32px;
  top: -10px;
  text-align: center;
  cursor: default;
  pointer-events: none;
  display: none;
}
.nav-bullets .bullet .tooltip:before {
  content: '';
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent var(--main-color);
  height: 0;
  width: 0;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.landing-page .container .header-area img {
  width: 234px;
  height: 285px;
  position: absolute;
  top: -80px;
  left: 20px;
}
/* End Nav Bullets */
/* Start Landing Page */
.landing-page {
  min-height: 100vh;
  background-image: url('../imgs/WhatsApp Image 2023-11-24 at 05.03.08_0ff21bad.jpg');
  background-size: cover;
  position: relative;
}
.landing-page .overlay {
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.landing-page .container {
  position: relative;
  z-index: 999;
}
.header-area {
  position: relative;
  z-index: 2;
  color: #FFF;
  display: flex;
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
}
.header-area .logo {
  width: 150px;
  padding: 15px;
  font-weight: bold;
  color: GOLD;
}
.header-area .links-container {
  width: 100%;
  text-align: right;
}
.header-area .links {
  list-style: none;
  padding-left: 0;
}
.header-area .links li {
  display: inline-block;
  margin-left: 10px;
}
.header-area .links li a {
  color: #FFF;
  text-decoration: none;
  transition: .3s;
}
.header-area .links li a:hover,
.header-area .links li a.active {
  color: var(--main-color);
}
.header-area .toggle-menu {
  background: none;
  border: none;
  width: 40px;
  cursor: pointer;
  margin-top: 15px;
  display: none;
  position: relative;
}
.header-area .toggle-menu.menu-active:before {
  content: '';
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: -15px;
  left: 10px;
}
.header-area .toggle-menu:focus {
  outline: none;
}
.header-area .toggle-menu span {
  display: block;
  background-color: #FFF;
  height: 4px;
  margin-bottom: 4px;
}
.introduction-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #FFF;
  text-align: center; 
  width: 95%;
}
.introduction-text h1 {
  font-size: 34px;
  margin: 0 0 12px;
}
@media (max-width: 575px) {
  .introduction-text h1 {
    font-size: 26px;
  }
}
.introduction-text h1 span {
  color: var(--main-color);
}
.introduction-text p {
  line-height: 1.6;
  font-size: 24px;
  margin: 0;
}
@media (max-width: 991px) {
  .header-area .links {
    display: none;
  }
  .header-area .links.open {
    background-color: #FFF;
    padding: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    border-radius: 4px;
    text-align: left;
  }
  .header-area .links.open li {
    display: block;
    margin: 10px;
  }
  .header-area .links.open li a {
    color: var(--main-color);
    font-weight: bold;
  }
  .header-area .toggle-menu {
    display: inline-block;
  }
}
/* End Landing Page */
/* Start Stats */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  background-image: url("../images/stats.png");
  background-size: cover;
  position: relative;
}

.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}

.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.stats .container .box {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}

@media (max-width: 767px) {
  .stats .container .box {
      flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .stats .container .box {
      flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .stats .container .box {
      flex-basis: 25%;
  }
}

.stats .container .box i {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 30px;
}

.stats .container .box .number {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}

.stats .container .box p {
  font-size: 14px;
}
.stats .container .box i {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  }

/* End Stats */

/* Start Skills */

.stats h2 {
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  color: var(--main-color);
  margin-bottom: 20px;
}
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #EEE;
}
.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.skills .skill-box {
  background-color: #FFF;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .skills .skill-box {
    display: block;
  }
}
.skills .skill-box .skill-name {
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 30px;
}
@media (max-width: 767px) {
  .skills .skill-box .skill-name {
    width: 100%;
    margin-bottom: 15px;
  }
}
.skills .skill-box .skill-progress {
  height: 30px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.skills .skill-box .skill-progress span {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: all .5s;
}
/* End Skills */
/* Start Articles */
.articles h2 {
  
  font-weight: bold;
  font-size: 40px;
  color: var(--main-color);

}
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .box img  {
height: 300px;
width: 1000px;
}
.articles .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition), box-shadow var(--main-transition);
}

.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles .box img {
  width: 100%;
  max-width: 100%;
  cursor: pointer;
}

.articles .box .content {
  padding: 20px;
}

.articles .box .content h3 {
  margin: 0;
}

.articles .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}

.articles .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}

.articles .box .info i {
  color: var(--main-color);
}

.articles .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
  
}
.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  border: 1px solid #CCC;
  padding: 20px;
  z-index: 1001;
}
.popup-box h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: var(--main-color);
}
.popup-box img {
  max-width: 100%;
}
.close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #FFF;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, Tahoma;
  border-radius: 50%;
}

/* End Articles */
/* Start Gallery */
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.gallery h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.gallery .images-box {
  text-align: center;
}

.gallery .images-box img {
  width: 200px;
  padding: 3px;
  background-color: #F6F6F6;
  border: 1px solid #CCC;
  margin: 5px;
  cursor: pointer;
}

/* End Gallery */

/* Start Pricing */
.pricing {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}


.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.pricing .box {
  position: relative;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
  background: white;
  text-align: center;
  z-index: 1;
}

.pricing .box img{
  height: 169px;
  cursor: pointer;
}
.pricing .box::before,
.pricing .box::after {
  content: "";
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  position: absolute;
  z-index: -1;
  transition: var(--main-transition);
}

.pricing .box::before {
  left: 0;
  top: 0;
}

.pricing .box::after {
  right: 0;
  bottom: 0;
}

.pricing .box:hover::before,
.pricing .box:hover::after {
  width: 100%;
}

@media (min-width: 1200px) {
  .pricing .box.popular {
      top: -20px;
  }
}

.pricing .box.popular .label {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  right: 20px;
  width: 40px;
}

.pricing .box.popular .label::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent white;
  border-width: 20px;
}

.pricing .box .title {
  font-weight: bold;
  margin: 30px 0;
  font-size: 25px;
  letter-spacing: -1px;
}

.pricing .box img {
  width: 80px;
  margin-bottom: 30px;
}

.pricing .box .price {
  margin-bottom: 20px;
}

.pricing .box .amount {
  display: block;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--main-color);
}

.pricing .box .time {
  color: #777;
}

.pricing .box ul {
  text-align: left;
}

.pricing .box ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}

.pricing .box ul li::before {

 
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}

.pricing .box a {
  display: block;
  width: fit-content;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  margin: 30px auto 40px;
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: var(--main-transition);
}

.pricing .box a:hover {
  background-color: var(--main-color-alt);
  border-color: var(--main-color-alt);
  color: white;
}

/* End Pricing */


/* Start Grid System */
@media (min-width: 576px) { /* Small Devices => Landscape Phones */
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) { /* Medium Devices => Tablets */
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) { /* Desktops */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) { /* Large Screens */
  .container {
    max-width: 1140px;
  }
}
/* End Grid System */
/* Start Footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}

@media (max-width: 767px) {
  .footer {
      text-align: center;
  }
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}

.footer .box .social {
  display: flex;
}

@media (max-width: 767px) {
  .footer .box .social {
      justify-content: center;
  }
}

.footer .box .social li {
  margin-right: 10px;
}

.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}

.footer .box .social .facebook:hover {
  background-color: #1877f2;
}

.footer .box .social .linkedin:hover {
  background-color: #1da1f2;
}

.footer .box .social .youtube:hover {
  background-color: #ff0000;
}
.footer .box .social .instagram:hover {
  background-color: rgb( 179, 18, 23);
}

.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}

.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}

.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}

.footer .box .links li:hover {
  padding-left: 10px;
}

.footer .box .links li:hover a {
  color: white;
}

.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}

.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}

.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .footer .box .line {
      flex-direction: column;
  }
}

.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}

@media (max-width: 767px) {
  .footer .box .line i {
      margin-right: 0;
      margin-bottom: 15px;
  }
}

.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}

.footer .box .line .info span {
  display: block;
}

.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}

.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}

/* End Footer */




